html{
  box-sizing: border-box;
}

body{
  margin: 3%;
  height: 80vh;
}

.simulation {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: black 5px solid;
}

#canvas {
  display: flex;
  padding: 0;
  /* margin: 2px; */
  /* border: black 2px solid; */
}
